<section class="hero is-primary is-bold">
  <div class="hero-body">
    <h1 class="title">Categories</h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <form #jobPostForm="ngForm" (ngSubmit)="submitForm()">
      <div class="field">
        <label class="label">Job Title</label>
        <input type="text" name="title" class="input" [(ngModel)]="newCategoryName" #titleInput="ngModel" required />
        <div class="help is-error" *ngIf="titleInput.invalid && titleInput.touched">
          Title is required
        </div>
      </div>
      <button type="submit" class="button is-large is-warning"
      [disabled]="jobPostForm.invalid">Submit</button>
    </form>
  </div>

</section>
<section class="section">
  <div class="container">
    <mat-list>
      <mat-list-item *ngFor="let cat of categories">
        <h3 mat-line>{{cat.displayName}} </h3>
        <p mat-line>
          <span> Tag name (internal): {{cat.tagName}} </span>
        </p>
        <button mat-icon-button (click)="deleteCategory(cat)">
          <mat-icon class="mat-24">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</section>

<div class="overlay" *ngIf="isLoading" >
  <div class="center">
      <mat-progress-spinner diameter=50
                          mode="indeterminate"
                color="accent">
    </mat-progress-spinner>
  </div>
  </div>

